.welding{
  padding-top: 30px;
	width: 100%;
	background-color: whitesmoke;
	height: auto;
}
   /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.card{
  height: 60vh;
  border-radius: 20px;
  border:none;
  margin: 5px;
  padding:10px;
  box-shadow:
  0 2.8px 2.2px rgba(80, 210, 0, 0.034),
  0 6.7px 5.3px rgba(100, 0, 60, 0.048),
  0 12.5px 10px rgba(120, 60, 90, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
    
    